<div class="profile-block">

<h3>プロフィール</h3>

<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>自己紹介 : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h3>ユーザーの投稿一覧</h3>
<% @user.qols.each do |t| %>
  <%= t.user.name %>
  <%= image_tag t.image_url, size: "250x200" if t.image? %>
  <%= t.food %>
   <%= t.cost %>
   <%= t.coupon %>
   <%= t.place %>
   <%= t.created_at %>
<% end %>


<!-- 以下はいいね機能を実装している場合-->
<h3>ユーザーがいいねした投稿一覧</h3>
<% @user.liked_qols.each do |t| %>
  <%= t.user.name %>
  <%= t.food %>
   <%= t.cost %>
   <%= t.coupon %>
   <%= t.place %>
   <%= t.created_at %>
<% end %>
</div>


<%= link_to "安飯一覧に戻る", qols_path %>