<div class="syousai-block">
 <h3>詳細</h3>
   <p><%= image_tag @qol.image_url, size: "250x200" if @qol.image? %></p>
   <p>店名 : <%= @qol.food %></p>
   <p>値段 : <%= @qol.cost %></p>
   <p>クーポン内容 : <%= @qol.coupon %></p>
   <p>アクセス : <%= @qol.place %></p>
   <p><%= @qol.created_at.to_s(:datetime_jp) %></p>

    <% if user_signed_in? %>
    <% if current_user.already_liked?(@qol) %>
      <%= link_to qol_like_path(@qol), method: :delete do %>
        <i class="fas fa-heart"></i><%= @qol.likes.count %>
       <% end %>
       <% else %>
       <%= link_to qol_likes_path(@qol), method: :post do %>
        <i class="far fa-heart"></i><%= @qol.likes.count %>
       <% end %>
    <% end %>
 <% else %>
   <i class="far fa-heart"></i><%= @qol.likes.count %>
 <% end %>



<h3>いいねしたユーザー</h3>
<% @qol.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<div class="comment-wrapper">
  <h3><p>コメント一覧</p></h3>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <div id='map'></div>

  <style>
  #map {
    height: 400px;
    width: 400px;
  }
  </style>
  
  <!-- js部分 -->
  <script>
      function initMap() {
  
        //初期表示位置
        let latlng = new google.maps.LatLng(38.60, 139.5);
        //デザイン
        let styles = [
             {
              stylers: [
               { "saturation": 0 },
               { "lightness": 0 }
              ]
             }
            ];
  
        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5.5,
            styles: styles,
            center: latlng
        });
        let transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
  
        //複数マーカー ここから
     
          ( function() { 
            let markerLatLng = new google.maps.LatLng({lat: <%= @qol.latitude %>, lng: <%= @qol.longitude %>}); // 緯度経度のデータ作成
            let marker = new google.maps.Marker({ 
              position: markerLatLng, 
              map: map 
            });
      　　　//マーカーをクリックしたとき、詳細情報を表示
            let infowindow = new google.maps.InfoWindow({
              position: markerLatLng,
              content: "<a href='<%= qol_url(@qol.id) %>' target='_blank'><%= @qol.food %></a>"
            }); //ここで詳細ページへのリンクを表示させる
            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
  
         })();
      
        //複数マーカー ここまで  
    }
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
</div>

  <% if user_signed_in? %>
    <%= form_with(model: [@qol, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "編集する", edit_qol_path(@qol.id) %>
<%= link_to "安飯一覧に戻る", qols_path %>
